#app {
  user-select: text;
  img {
    cursor: initial;
    display: initial;
    margin: initial;
  }

  .lt {
    width: auto;
  }
  #tbltl,
  #tbltr,
  #tblts {
    cursor: pointer;
  }
  input {
    color: black;
  }
}
